.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 0 28px;
  border: 0;
  border-radius: var(--border-radius);
  font-weight: 700;
  color: var(--color-white);
  background: var(--color-accent);
  box-shadow: 0 5px 12px 0 rgba(61, 31, 8, 0.2);
  transform-origin: center;
  transition:
    background var(--transition),
    color var(--transition),
    transform var(--transition);

  &:hover,
  &:focus-visible {
    color: var(--color-accent);
    background: var(--color-white);
    transform: scale(1.1);
  }

  &--secondary {
    color: var(--color-accent-dark);
    border: 1px solid var(--color-accent);
    background: transparent;

    &:hover,
    &:focus-visible {
      color: var(--color-white);
      background: var(--color-accent);
    }
  }
}
